body {
    height: 100vh;
    padding: 0;
    background-image: url(ai-generated-8452198_1280.webp);
    margin: 0; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: whitesmoke; 
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
}

.header {
    text-align: center;
    color: goldenrod;
    font-family: Arial;
    font-size: large;
}

button {
    background-color: goldenrod;
    border: none;
    cursor: pointer;
    }
button:hover {
    background-color: white;
}

input, textarea, button {
    font-size: 14px;
    width: 100%;
}

fieldset {
    padding: 10px;
    border: none;
}

@media (max-width: 600px){
    form {padding: 15px;}
    input, textarea, button, p {
font-size: 14px;}
}